<div class="container">
    <mat-card>
        <mat-card-title>Informe seu Processo no Curso</mat-card-title>
        <mat-card-content>

            <form (ngSubmit)="onSubmit()"class="dados-form">
                <mat-form-field>
                    <mat-label>Missão Conceitual</mat-label>
                    <input [(ngModel)]="conceitual" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Checkpoints</mat-label>
                    <input [(ngModel)]="checkpoints" matInput>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Missão Prática</mat-label>
                    <input  [(ngModel)]="pratica" matInput>
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary">Enviar</button>
            </form>

        </mat-card-content>

    </mat-card>

</div>